.git
.github
node_modules
vendor
public/build
public/hot
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
database/database.sqlite
.env
.env.backup
*.log
docs
tests
.phpunit.result.cache
.phpunit.cache
